/* BODY */
/* -------------------- */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/second-background.png);
}

/* MUSIC */
/* -------------------- */
#music {
    opacity: 0.75;
    margin: 15px;
}


/* MAIN CONTAINER*/
/* -------------------- */
main{
    background-color: #ff7518;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 
                0 0 0 5px rgb(188, 22, 125);
}

/* SLOGAN / HEADER TEXT */
/* -------------------- */
h1{
    text-align: center;
    font-family: "Bangers", system-ui;
    font-size: 2rem;
    margin: 0.5rem;
}
h2{
   text-align: center;
    font-family: "Bangers", system-ui;
    font-size: 2.8rem;
    margin: 0.5rem;
}

/* ENTER A CHOICE OR CHOOSE RANDOMIZE */
/* -------------------- */
.enter-choice, input{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
p{
    margin: 10px;
}

button{
    justify-content: center;
    max-width: 50%;
    font-family: "Bangers", system-ui;
    font-size: 1.5rem;
    background-color: rgb(255, 230, 0);
    border-radius: 5px;
}
button:hover{
    color: rgb(255, 230, 0);
    background-color: black;
}

/* LINE BREAK */
/* -------------------- */
hr{
    margin: 2rem;
}

/* CHOICE IMAGES - SMASH, WRAP, & SLICE*/
/* -------------------- */
.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choices img{
    max-width: 100px;
    height: auto;
    border-radius: 3px;
}

/* RESET BUTTON */
/* -------------------- */
.reset{
    display: flex;
    justify-content: center;
    margin: 10% auto 5px;
    font-size: 1.2rem;
    background-color: rgb(255, 183, 0);
}